* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}


.menu-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-links div {
    text-align: center;
    margin: 10px;
}

.menu-links img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.menu-item {
    margin-bottom: 20px;
}

.menu-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: white;
}
